{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="flex h-screen items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full max-w-md space-y-8">
            <div>
                <img class="mx-auto h-12 w-auto" src="{{ asset('build/logo.png') }}" alt="Your Company">
                <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Page de connexion</h2>
            </div>
            <form class="mt-8 space-y-6" action="{{ path('app_login_page') }}" method="POST">
                <input type="hidden" name="remember" value="true">
                <div class="-space-y-px rounded-md shadow-sm">
                    <div>
                        <label for="email-address" class="sr-only">Email address</label>
                        <input id="username" name="_username" type="email" autocomplete="email" value="{{ last_username }}" required class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Email address">
                    </div>
                    <div>
                        <label for="password" class="sr-only">Password</label>
                        <input id="password" name="_password" type="password" autocomplete="current-password" required class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Password">
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="_target_path" value="/profile">

                <div class="flex justify-center items-center w-full">
                    <button type="submit" class="px-3 py-2 bg-dark-blue text-white rounded rounded-sm rounded-lg">
                        Connexion
                    </button>
                </div>

                <div class="flex items-center justify-center">
                    <div class="text-sm">
                        <a href="{{ path('app_register_page') }}" class="font-medium text-indigo-600 hover:text-indigo-500">Créer un compte</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
