{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block javascripts %}


{% endblock %}

{% block body %}
    <div class="w-full bg-white flex flex-row justify-center items-center">
        <section class="w-4/5 flex justify-center flex-col py-20">
            <div class="w-full flex flex-row">
                <div class="w-full flex justify-center">
                    <div class="w-11/12 flex flex-col">
                        <h1 class="mb-4 text-left font-bold">{{product.productName}}</h1>
                        <div class="w-full flex flex-row relative mb-6">
                            <div class="w-1/5 flex flex-col">
                                <img src="{{ vich_uploader_asset(product, 'imageFile2') }}" alt="{{ product.productName}}" class="h-40 w-auto cursor-pointer image" />
                                <img src="{{ vich_uploader_asset(product, 'imageFile3') }}" alt="{{ product.productName}}" class="h-40 w-auto cursor-pointer image" />
                                <img src="{{ vich_uploader_asset(product, 'imageFile4') }}" alt="{{ product.productName}}" class="h-40 w-auto cursor-pointer image" />
                            </div>
                            <div class="w-full flex justify-center items-center">
                                <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.productName}}" class="h-80 w-auto image" />
                            </div>
                        </div>
                        <h3 class="mb-4 text-center">Vous aimerez peut-être aussi</h3>
                        <div class="flex flex-row justify-center">
                            {% for product in products %}
                                    <div class="w-1/4 m-5 hover:scale-105 ease-out duration-300 self-auto max-h-full border-2 border-gray-blue rounded-lg px-10 py-5">
                                        <a href="{{ path('app_store_show', {'id': product.id}) }}" class="">
                                            <div class="w-full flex justify-center mt-4 mb-8">
                                                <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.productName}}" class="h-40 w-auto" />
                                            </div>
                                            <h3 class="text-xl font-medium mb-2 text-3xl">{{ product.productName }}</h3>
                                            <p class="font-bold text-2xl mb-5">{{ product.price }} $</p>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <div class="flex justify-center">
                                                    <a href="{{ path('app_store_edit', {'id': product.id}) }}" class="hover:text-light-blue">Editer la paire</a>
                                                </div>
                                            {% endif %}
                                        </a>
                                    </div>
                            {% else %}
                                <span>Aucune autre paire en vente actuellement</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="w-33">
                    <div class="w-full flex-col mt-4">
                        <div class="w-full flex flex-row justify-between mb-10">
                            <h4 class="font-bold text-2xl">{{ product.price }} €</h4>
                            {% if user is defined %}
                                        {% set favoris = false %}
                                        {% set productFavoris = null %}

                                        {% for favori in product.favoris %}
                                            {% if favori.user == user %}
                                                {% set favoris = true %}
                                                {% set productFavoris = favori %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if favoris and productFavoris is not null %}
                                            <a href="{{ path('app_wish_remove', {'id': productFavoris.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-red-600 hover:fill-black">
                                                    <path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
                                                </svg>
                                            </a>
                                        {% endif %}
                                        {% if favoris == false %}
                                            <a href="{{ path('app_wish_add', {'id': product.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-black hover:fill-red-600">
                                                    <path d="M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z"/>
                                                </svg>
                                            </a>
                                        {% endif %}
                            {% endif %}
                        </div>
                        <div class="w-full flex justify-start items-center mb-10">
                            <p class="border-4 border-gray-blue rounded-lg px-5 py-3 text-gray-700 font-bold">{{ product.size }}</p>
                        </div>
                        <a href="{{ path('app_store_new') }}" class="font-medium text-white text-lg bg-dark-blue px-5 py-4 w-full drop-shadow-lg color-white rounded-lg mb-6">Ajouter au panier</a>
                        {{ product.about }}
                        <div class="border-b border-gray-blue w-full mb-4 pb-4">
                            <div class="flex flex-row justify-between mb-2">
                                <h3>Marques</h3>
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                            <ul class="flex flex-col">
                                <button onclick="">Nike</button>
                                <button onclick="">Adidas</button>
                                <button onclick="">New Balance</button>
                            </ul>
                        </div>
                        <div class="border-b border-gray-blue w-full mb-4 pb-4">
                            <div class="flex flex-row justify-between mb-2">
                                <h3>Tailles</h3>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <ul class="hidden flex-col">
                                <li>Nike</li>
                                <li>Adidas</li>
                                <li>New balance</li>
                            </ul>
                        </div>
                        <div class="border-b border-gray-blue w-full mb-4 pb-4">
                            <div class="flex flex-row justify-between mb-2">
                                <h3>Sexe</h3>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <ul class="hidden flex-col">
                                <li>Nike</li>
                                <li>Adidas</li>
                                <li>New balance</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>ProductName</th>
                <td>{{ product.productName }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ product.about }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_store_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_store_edit', {'id': product.id}) }}">edit</a>
        {{ include('product/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
