{% extends 'base.html.twig' %}

{% block title %}Swoaper{% endblock %}

{% block body %}
    <div class="w-full lg:w-8/12 bg-white flex flex-col justify-center items-center">
        <div class="w-full flex flex-col lg:flex-row mt-40">
            <div class="w-full lg:w-1/2 relative z-10 pl-0 mb-10 lg:mb-0 flex justify-center lg:justify-start lg:flex-none">
                <img src="{{ asset('build/devis.png') }}" alt="sneakers" class="w-auto h-[450px]"/>
            </div>
            <div class="w-full lg:w-1/2 px-5 lg:px-0 flex justify-center items-center lg:items-start flex-col mb-10 lg-mb-0">
                <h3 class="font-bold text-3xl mb-8">Nettoyage - 20 €</h3>
                <p class="w-full lg:w-4/5 mb-8 text-justify mx-16 md:mx-0">Le nettoyage complet comprends l’intérieur et l’extérieur de la paire, il est possible de traiter des matériaux différents comme le daim par exemple avec un supplément de 5 €.<br><br>
                    Tous les matériaux ont besoin d’un traitement différent, ce qui comprend  des produits et des brosses adaptés, ainsi que des connaissances pour les revitaliser.</p>
                <a href="" class="border-4 border-gray-blue text-gray-600 font-bold py-2 px-4 rounded-lg hover:border-light-blue hover:text-light-blue">Coming Soon</a>
                <!--{{ path('app_prestations_show_page') }} -->
            </div>
        </div>
        <div class="w-full flex flex-col lg:flex-row mt-20">
            <div class="w-full lg:w-1/2 px-5 lg:px-0 flex justify-center items-center lg:items-start flex-col mb-10 lg-mb-0 order-2 lg:order-1">
                <h3 class="font-bold text-3xl mb-8">Déjaunissement - 15 €</h3>
                <p class="w-full lg:w-4/5 mb-8 text-justify  mx-16 md:mx-0">Avec le temps, il est possible que votre paire de chaussures jaunisse, à cause de l’usure naturelle, de l’exposition aux rayons UV et à l’oxydation. Pour palier à ça nous proposons de blanchir vos chaussures grâce à notre méthode et nos différents outils.
                    <br><br>Les produits sont adaptés aux matériaux de la chaussure, permettant ainsi d’enlever ce jaunissement.</p>
                <a href="" class="border-4 border-gray-blue text-gray-600 font-bold py-2 px-4 rounded-lg hover:border-light-blue hover:text-light-blue">Coming Soon</a>
                <!--{{ path('app_prestations_show_page') }} -->
            </div>
            <div class="w-full lg:w-1/2 relative z-10 pl-0 mb-10 lg:mb-0 flex justify-center lg:justify-end lg:flex-none order-1 lg:order-2">
                <img src="{{ asset('build/déjaunissement.png') }}" alt="sneakers" class="w-auto h-[500px]"/>
            </div>
        </div>
        <div class="w-full flex flex-col lg:flex-row mt-20 mb-40">
            <div class="w-full lg:w-1/2 relative z-10 pl-0 mb-10 lg:mb-0 flex justify-center lg:justify-start lg:flex-none">
                <img src="{{ asset('build/nettoyage.png') }}" alt="sneakers" class="w-auto h-[450px]"/>
            </div>
            <div class="w-full lg:w-1/2 px-5 lg:px-0 flex justify-center items-center lg:items-start flex-col mb-10 lg-mb-0">
                <h3 class="font-bold text-3xl mb-8">Restauration peinture - devis</h3>
                <p class="w-full lg:w-4/5 mb-8 text-justify mx-16 md:mx-0">Il est possible que votre paire de chaussures perde de la peinture au fil du temps, c’est pourquoi nous proposons en fonction de rajouter de la peinture tout en respectant les couleurs d’origines.
                    <br><br>Avant de réaliser la peinture il est important de nettoyer la chaussure avant de l’appliquer. Les produits sont spécifiques aux matériaux et la peinture utilisée tient dans le temps grâce à une protection qui est ajoutée lors des applications des différentes couches de peinture.</p>
                <a href="" class="border-4 border-gray-blue text-gray-600 font-bold py-2 px-4 rounded-lg hover:border-light-blue hover:text-light-blue">Coming Soon</a>
                <!--{{ path('app_contact_page') }} -->
            </div>
        </div>
    </div>
{% endblock %}
