{% extends 'base.html.twig' %}

{% block title %}Swoaper{% endblock %}

{% block body %}
    <div class="w-full lg:w-8/12 bg-white flex flex-col justify-center items-center">
        <div class="w-full flex flex-col lg:flex-row mt-40">
            <div class="w-full lg:w-1/2 relative z-10 pl-0 mb-10 lg:mb-0 flex justify-center lg:justify-start lg:flex-none">
                <img src="{{ asset('build/nettoyage.png') }}" alt="sneakers" class="w-auto h-[450px]"/>
            </div>
            <div class="w-full lg:w-1/2 px-5 lg:px-0 flex justify-center items-center lg:items-start flex-col mb-10 lg-mb-0">
                <h3 class="font-bold text-3xl mb-8">Nettoyage - 20 €</h3>
                <p class="w-full lg:w-4/5 mb-8 mx-16 md:mx-0">Le nettoyage complet comprends l’intérieur et l’extérieur de la paire, il est possible de traiter des matériaux différents comme le daim par exemple avec un supplément de 5 €.<br>
                    Tous les matériaux ont besoin d’un traitement différent, ce qui comprend  des produits et des brosses adaptés, ainsi que des connaissances pour les revitaliser.</p>
                <a href="" class="border-4 border-gray-blue text-gray-600 font-bold py-2 px-4 rounded-lg hover:border-light-blue hover:text-light-blue">Coming Soon</a>
                <!--{{ path('app_prestations_show_page') }} -->
            </div>
        </div>
        <div class="w-full flex flex-col lg:flex-row mt-20">
            <div class="w-full lg:w-1/2 px-5 lg:px-0 flex justify-center items-center lg:items-start flex-col mb-10 lg-mb-0 order-2 lg:order-1">
                <h3 class="font-bold text-3xl mb-8">Déjaunissement - 15 €</h3>
                <p class="w-full lg:w-4/5 mb-8 mx-16 md:mx-0">Avec le temps, il est possible que votre paire de chaussures jaunisse, à cause de l’usure naturelle, de l’exposition aux rayons UV et à l’oxydation. Pour palier à ça nous proposons de blanchir vos chaussures grâce à notre méthode et nos différents outils.
                    <br>Les produits sont adaptés aux matériaux de la chaussure, permettant ainsi d’enlever ce jaunissement.</p>
                <a href="" class="border-4 border-gray-blue text-gray-600 font-bold py-2 px-4 rounded-lg hover:border-light-blue hover:text-light-blue">Coming Soon</a>
                <!--{{ path('app_prestations_show_page') }} -->
            </div>
            <div class="w-full lg:w-1/2 relative z-10 pl-0 mb-10 lg:mb-0 flex justify-center lg:justify-end lg:flex-none order-1 lg:order-2">
                <img src="{{ asset('build/déjaunissement.png') }}" alt="sneakers" class="w-auto h-[500px]"/>
            </div>
        </div>
        <div class="w-full flex flex-col lg:flex-row mt-20 mb-40">
            <div class="w-full lg:w-1/2 relative z-10 pl-0 mb-10 lg:mb-0 flex justify-center lg:justify-start lg:flex-none">
                <img src="{{ asset('build/devis.png') }}" alt="sneakers" class="w-auto h-[450px]"/>
            </div>
            <div class="w-full lg:w-1/2 px-5 lg:px-0 flex justify-center items-center lg:items-start flex-col mb-10 lg-mb-0">
                <h3 class="font-bold text-3xl mb-8">Sur devis</h3>
                <p class="w-full lg:w-4/5 mb-8 mx-16 md:mx-0">Dans un premier temps, prendre contact avec nous via le site ou instagram en envoyant des photos de vos chaussures : ce qui nous verrons par la suite ensemble le(s) service(s) dont la paire a besoin. <br>Nous validerons ensemble le mode de réception de vos chaussures sur la région nantaise ou ses alentours en physique ou soit par envoi postal a votre charge pour environ 10€.
                    <br>Une fois la paire récupérée, je vous donne un délai et je vous tiens au courant de mon avancée avec des photos. Une fois que j’ai terminé la paire je vous contact et on se donne rendez-vous ou je renvoie la paire !</p>
                <a href="" class="border-4 border-gray-blue text-gray-600 font-bold py-2 px-4 rounded-lg hover:border-light-blue hover:text-light-blue">Coming Soon</a>
                <!--{{ path('app_contact_page') }} -->
            </div>
        </div>
    </div>
{% endblock %}
