{% extends 'base.html.twig' %}

{% block title %}Swoaper{% endblock %}

{% block body %}
    <div class="w-full lg:w-8/12 bg-white flex flex-col justify-center items-center">
        <div class="w-full flex flex-col lg:flex-row mt-40">
            <div class="w-full lg:w-1/2 relative z-10 pl-0 mb-10 lg:mb-0 flex justify-center lg:justify-start lg:flex-none">
                <img src="{{ asset('build/nettoyage.png') }}" alt="sneakers" class="w-auto h-[450px]"/>
            </div>
            <div class="w-full lg:w-1/2 px-5 lg:px-0 flex justify-center items-center lg:items-start flex-col mb-10 lg-mb-0">
                <h3 class="font-bold text-3xl mb-8">Nettoyage</h3>
                <p class="w-full lg:w-4/5 mb-8">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.
                    Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only
                    five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s with the release of Letraset
                    sheets containing</p>
                <a href="{{ path('app_prestations_show_page') }}" class="border-4 border-gray-blue text-gray-600 font-bold py-2 px-4 rounded-lg hover:border-light-blue hover:text-light-blue">En savoir +</a>
            </div>
        </div>
        <div class="w-full flex flex-col lg:flex-row mt-20">
            <div class="w-full lg:w-1/2 px-5 lg:px-0 flex justify-center items-center lg:items-start flex-col mb-10 lg-mb-0 order-2 lg:order-1">
                <h3 class="font-bold text-3xl mb-8">Déjaunissement</h3>
                <p class="w-full lg:w-4/5 mb-8">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.
                    Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only
                    five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s with the release of Letraset
                    sheets containing</p>
                <a href="{{ path('app_prestations_show_page') }}" class="border-4 border-gray-blue text-gray-600 font-bold py-2 px-4 rounded-lg hover:border-light-blue hover:text-light-blue">En savoir +</a>
            </div>
            <div class="w-full lg:w-1/2 relative z-10 pl-0 mb-10 lg:mb-0 flex justify-center lg:justify-end lg:flex-none order-1 lg:order-2">
                <img src="{{ asset('build/déjaunissement.png') }}" alt="sneakers" class="w-auto h-[500px]"/>
            </div>
        </div>
        <div class="w-full flex flex-col lg:flex-row mt-20 mb-40">
            <div class="w-full lg:w-1/2 relative z-10 pl-0 mb-10 lg:mb-0 flex justify-center lg:justify-start lg:flex-none">
                <img src="{{ asset('build/devis.png') }}" alt="sneakers" class="w-auto h-[450px]"/>
            </div>
            <div class="w-full lg:w-1/2 px-5 lg:px-0 flex justify-center items-center lg:items-start flex-col mb-10 lg-mb-0">
                <h3 class="font-bold text-3xl mb-8">Sur devis</h3>
                <p class="w-full lg:w-4/5 mb-8">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.
                    Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only
                    five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s with the release of Letraset
                    sheets containing</p>
                <a href="{{ path('app_prestations_show_page') }}" class="border-4 border-gray-blue text-gray-600 font-bold py-2 px-4 rounded-lg hover:border-light-blue hover:text-light-blue">En savoir +</a>
            </div>
        </div>
    </div>
{% endblock %}
