{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>ProductName</th>
                <td>{{ product.productName }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ product.about }}</td>
            </tr>
            <tr>
                <th>Image 1</th>
                <td>{{ product.imageName }}</td>
            </tr>
            <tr>
                <th>Image 1</th>
            <td>{{ product.imageName2 }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ product.size }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_store_index') }}">back to list</a>

    <a href="{{ path('app_store_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
